/*body {
    font-family: sans-serif;
    
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 100px;
}

.container{
    max-width: 800px;
    margin: 0 auto;
    font-family: sans-serif;
    padding-left: 15px;
    padding-right: 15px;
}*/

/* CSS used here will be applied after bootstrap.css */
.adj {
    padding-top:120px;
}
.user_name{
    font-size:14px;
    font-weight: bold;
}
.comments-list .media{
    border-bottom: 1px dotted #ccc;
}